@charset "UTF-8";
/*===============================================
	[SASS DIRECTORY ]
	
    [1] Minxin Link
    [2] Minxin Button
    [3] Minxin Triangle
    [4] Minxin LABEL PRODUCT
    [5] Minxin Scrollbars
    [6] Minxin Dev Custom
  
==============================================*/
.no-margin {
  margin: 0 !important;
}
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none;
}
.lib-list-item-product2 .image-dev .list-button-dev {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
}
.lib-list-item-product2 .image-dev .list-button-dev li {
  display: inline-block;
  float: left;
  height: 40px;
  width: 40px;
  background: #fff;
  position: relative;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #ddd;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(40px);
  -moz-transform: translateX(40px);
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -webkit-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:first-child {
  border-left: 1px solid #ddd;
}
.lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 40px;
  text-align: center;
  box-shadow: none;
  border: none;
  color: #555;
  width: 40px;
  padding: 0;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover {
  background: #cb9500;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
  color: #fff;
}
.lib-list-item-product2 .caption-dev {
  text-align: center;
  padding: 0 15px;
}
.lib-list-item-product2 .caption-dev .rating-dev {
  margin: 5px 0;
}
.lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
  font-size: 11px;
}
.lib-list-item-product2 .caption-dev .title-dev {
  color: #444;
  font-size: 13px;
}
.lib-list-item-product2 .caption-dev .price-dev .price.product-price {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-new {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-old {
  font-size: 12px;
}
.lib-list-item-product2 .caption-dev .add-cart-dev {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0;
  padding: 6px 20px;
  margin: 0 0 30px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block;
}
.lib-two-img .img-1 {
  opacity: 1;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.lib-two-img .img-2 {
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0;
  display: block;
  transition: all 0.5s ease-in-out;
  right: 50%;
  transform: translateX(-50%);
  transform: translateX(50%);
}
.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out;
}
.lib-two-img-over .img-2 {
  opacity: 1;
  transform-style: inherit;
  transition: all 0.5s ease-in-out;
}
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
/*===============================================
    [SASS DIRECTORY ]
    
    [1] BLOCK HEADER

    
==============================================*/
@media (min-width: 1200px) {
  .wrapper-full .typeheader-31 .container {
    max-width: 1710px;
    padding: 0 15px;
    width: 100%;
  }
}
.common-home .typeheader-31 {
  border-bottom: none;
}
.typeheader-31 {
  border-bottom: 1px solid #ddd;
  /*=====SEARCH ======*/
  /*BLOCK CART*/
  /*MENU MEGA*/
  /*-- MEGA MENU VERTICAL --*/
}
.typeheader-31.navbar-compact {
  background-color: #fff;
}
.typeheader-31 .header-top {
  border-bottom: 1px solid #e7e7e7;
  font-size: 13px;
  min-height: 38px;
  padding: 0 40px;
}
.typeheader-31 .header-top .module {
  display: table-cell;
  margin-bottom: 0;
}
.typeheader-31 .header-top .header-top-right {
  text-align: left;
}
.typeheader-31 .header-top .dropdown-menu li {
  line-height: 22px;
}
.typeheader-31 .header-top .header-top-right {
  display: inline-block;
}
.typeheader-31 .header-top .account {
  float: left;
  line-height: 38px;
  position: relative;
}
.typeheader-31 .header-top .lang-curr {
  float: left;
}
.typeheader-31 .header-top .lang-curr > li {
  float: right;
}
.typeheader-31 .header-top .telephone {
  margin-right: 30px;
}
.typeheader-31 .welcome-msg {
  line-height: 38px;
}
.typeheader-31 .welcome-msg i {
  margin-left: 10px;
}
.typeheader-31 .link-lg {
  position: relative;
  float: right;
  margin-right: 25px;
}
@media (min-width: 1650px) {
  .typeheader-31 .link-lg {
    margin-right: 30px;
  }
}
.typeheader-31 .link-lg i {
  font-size: 20px;
  color: #111;
  font-weight: 600;
}
.typeheader-31 .wishlist {
  float: right;
  margin-right: 30px;
}
.typeheader-31 .wishlist i {
  font-size: 18px;
  color: #111;
  font-weight: 600;
}
.typeheader-31 .midde-right {
  float: left;
  margin-top: 25px;
}
.typeheader-31 .header-middle {
  padding: 21px 40px 35px 40px;
}
.typeheader-31 .header-middle .menu-left {
  width: 60px;
  float: right;
  padding-top: 10px;
}
.typeheader-31 .header-middle .main-menu-w {
  padding-top: 12px;
}
.typeheader-31 .header-middle .middle1 .logo {
  float: left;
  position: absolute;
  top: 0;
  left: 40px;
  width: 20%;
  text-align: center;
}
@media (min-width: 1200px) and (max-width: 1650px) {
  .typeheader-31 .middle1 {
    width: 66%;
  }
  .typeheader-31 .middle2 {
    width: 34%;
  }
  .typeheader-31 .search-header-w {
    width: 50%;
  }
  .typeheader-31 .midde-right {
    width: 50%;
  }
}
.typeheader-31 .search-header-w {
  float: left;
  margin-top: 16px;
}
.typeheader-31 #sosearchpro .chosen-container-single .chosen-single {
  height: 45px;
  line-height: 45px;
}
.typeheader-31 #sosearchpro .chosen-container-single .chosen-single div {
  width: 20px;
}
.typeheader-31 #sosearchpro .chosen-container-single .chosen-single div b {
  background-position-y: 12px;
}
.typeheader-31 #sosearchpro .search {
  position: relative;
  margin: 0;
  width: 100%;
  border-radius: 3px;
}
.typeheader-31 #sosearchpro .search .select_category {
  border: none;
  border-left: 1px solid #d7d7d7;
  background-color: #f5f5f5;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  width: 22%;
  display: none;
}
.typeheader-31 #sosearchpro .search .select_category select {
  height: 45px;
  line-height: 45px;
  color: #666666;
  font-size: 13px;
  padding: 0 15px;
}
.typeheader-31 #sosearchpro .search .select_category select:hover {
  cursor: pointer;
}
.typeheader-31 #sosearchpro .search .select_category.icon-select:after {
  color: #999;
  background-color: #f5f5f5;
  font-size: 16px;
  line-height: 47px;
  left: 0;
  right: auto;
}
.typeheader-31 #sosearchpro .search button {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 43px;
  text-align: center;
  line-height: 43px;
  padding: 0 10px;
  font-size: 14px;
  color: #111;
  font-weight: 300;
  background-color: transparent;
  border-radius: 0;
  text-transform: upper-case;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.typeheader-31 #sosearchpro .search button i {
  font-size: 18px;
  color: #111;
  font-weight: 400;
}
.typeheader-31 #sosearchpro .search input.autosearch-input {
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  z-index: 0;
  height: 43px;
  padding-right: 15px;
  font-size: 13px;
  width: 100%;
  color: #666;
}
.typeheader-31 #sosearchpro .search input.autosearch-input::-moz-placeholder {
  color: #666;
  opacity: 1;
}
.typeheader-31 #sosearchpro .search input.autosearch-input:-ms-input-placeholder {
  color: #666;
}
.typeheader-31 #sosearchpro .search input.autosearch-input::-webkit-input-placeholder {
  color: #666;
}
.typeheader-31 #sosearchpro .search input.autosearch-input:focus {
  z-index: 0;
}
.typeheader-31 .shopping_cart {
  float: left;
  margin-right: 25px;
  position: relative;
}
@media (min-width: 1650px) {
  .typeheader-31 .shopping_cart {
    margin-right: 30px;
  }
}
.typeheader-31 .shopping_cart .btn-shopping-cart .top_cart {
  position: relative;
}
.typeheader-31 .shopping_cart .btn-shopping-cart .top_cart .icon-c {
  float: right;
}
.typeheader-31 .shopping_cart .btn-shopping-cart .top_cart .icon-c i {
  font-size: 18px;
  color: #111;
}
.typeheader-31 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner {
  float: right;
  color: #151515;
  padding-right: 10px;
  position: relative;
}
.typeheader-31 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .text-shopping-cart {
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}
.typeheader-31 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart2, .typeheader-31 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_carts {
  display: none;
}
.typeheader-31 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart {
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  position: absolute;
  top: 0px;
  right: -13px;
  font-size: 10px;
  color: #fff;
  border: none;
}
.typeheader-31 .shopping_cart .dropdown-menu {
  top: 100%;
  left: -13px;
  right: auto;
  color: #666;
}
.typeheader-31 .shopping_cart .shoppingcart-box:before {
  right: 50px;
}
.typeheader-31 .megamenu-style-dev .navbar-default {
  background: transparent;
}
.typeheader-31 .container-megamenu.horizontal {
  margin-top: 5px;
}
.typeheader-31 .container-megamenu.horizontal ul.megamenu > li {
  margin-left: 1px;
}
.typeheader-31 .container-megamenu.horizontal ul.megamenu > li.item-special {
  display: none;
}
.typeheader-31 .container-megamenu.horizontal ul.megamenu > li > a {
  line-height: 100%;
  padding: 0 0px 0 30px;
  line-height: 40px;
  margin: 0 !important;
  color: #111;
  font-size: 14px;
  text-transform: uppercase;
}
@media (min-width: 1200px) and (max-width: 1650px) {
  .typeheader-31 .container-megamenu.horizontal ul.megamenu > li > a {
    padding-left: 10px;
  }
}
.typeheader-31 .container-megamenu.horizontal ul.megamenu > li > a > strong {
  font-weight: 600;
}
.typeheader-31 .container-megamenu.horizontal ul.megamenu > li > a .caret:before {
  font-family: "FontAwesome";
}
.typeheader-31 .container-megamenu.vertical {
  position: relative;
}
.typeheader-31 .container-megamenu.vertical #menuHeading .megamenuToogle-wrapper {
  background-color: transparent;
}
.typeheader-31 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container {
  color: #222;
  background-color: #fff;
  overflow: hidden;
  border-radius: 0;
  text-align: center;
  padding: 0 !important;
  text-shadow: none;
  line-height: 30px;
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  height: 40px;
  text-indent: -999em;
}
.typeheader-31 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container > div {
  width: 26px;
  margin: 0;
  padding-top: 13px;
  float: none;
}
.typeheader-31 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container > div span {
  background-color: #151515;
  width: 26px;
  height: 2px;
  margin: 5px 0;
}
.typeheader-31 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container > div span:nth-child(2) {
  width: 23px;
}
.typeheader-31 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container > div span:nth-child(3) {
  width: 20px;
}
.typeheader-31 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container > div span:nth-child(4) {
  display: none;
}
@media (min-width: 992px) {
  .typeheader-31 .container-megamenu.vertical .vertical-wrapper ul.megamenu .loadmore i {
    display: none;
  }
  .typeheader-31 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.with-sub-menu > a > b.fa {
    padding-left: 15px;
  }
  .typeheader-31 .container-megamenu.vertical .vertical-wrapper {
    visibility: hidden;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    position: absolute;
    width: 100%;
    top: 70px;
  }
  .typeheader-31 .container-megamenu.vertical:hover .vertical-wrapper {
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    top: 49px;
  }
  .typeheader-31 .container-megamenu.vertical .vertical-wrapper ul.megamenu {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    width: 210px;
  }
  .typeheader-31 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li {
    padding-right: 15px;
  }
  .typeheader-31 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.loadmore {
    padding: sie-values(14px 0 14px 15px);
  }
  .typeheader-31 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.hidden-index26 {
    display: none;
  }
  .typeheader-31 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a {
    line-height: 23px;
  }
  .typeheader-31 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a i.fa {
    display: none;
  }
}
/*====================update opencart4===================*/
.typeheader-31 .dropdown-menu {
  top: 100%;
}
.typeheader-31 .lang-curr .btn-group .btn-link {
  border: none;
}
.typeheader-31 #sosearchpro .search .input-group-btn {
  margin: 0;
}
.typeheader-31 ul.top-link > li .btn-group .fa-caret-down:before {
  content: "ï„‡";
}
.typeheader-31 .header-top .dropdown-menu li img {
  vertical-align: -1px;
}
@media (min-width: 992px) {
  .typeheader-31 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.active, .typeheader-31 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li:hover {
    box-shadow: none;
  }
}
@media (min-width: 1200px) and (max-width: 1365px) {
  .typeheader-31 .middle2 {
    width: 42%;
  }
  .typeheader-31 .middle1 {
    width: 58%;
  }
  .typeheader-31 .midde-right {
    width: auto;
  }
}
