@charset "UTF-8";
/*===============================================
	[SASS DIRECTORY ]
	
    [1] Minxin Link
    [2] Minxin Button
    [3] Minxin Triangle
    [4] Minxin LABEL PRODUCT
    [5] Minxin Scrollbars
    [6] Minxin Dev Custom
  
==============================================*/
.no-margin {
  margin: 0 !important;
}
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none;
}
.lib-list-item-product2 .image-dev .list-button-dev {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
}
.lib-list-item-product2 .image-dev .list-button-dev li {
  display: inline-block;
  float: left;
  height: 40px;
  width: 40px;
  background: #fff;
  position: relative;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #ddd;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(40px);
  -moz-transform: translateX(40px);
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -webkit-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:first-child {
  border-left: 1px solid #ddd;
}
.lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 40px;
  text-align: center;
  box-shadow: none;
  border: none;
  color: #555;
  width: 40px;
  padding: 0;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover {
  background: #4285f4;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
  color: #fff;
}
.lib-list-item-product2 .caption-dev {
  text-align: center;
  padding: 0 15px;
}
.lib-list-item-product2 .caption-dev .rating-dev {
  margin: 5px 0;
}
.lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
  font-size: 11px;
}
.lib-list-item-product2 .caption-dev .title-dev {
  color: #444;
  font-size: 13px;
}
.lib-list-item-product2 .caption-dev .price-dev .price.product-price {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-new {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-old {
  font-size: 12px;
}
.lib-list-item-product2 .caption-dev .add-cart-dev {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0;
  padding: 6px 20px;
  margin: 0 0 30px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block;
}
.lib-two-img .img-1 {
  opacity: 1;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.lib-two-img .img-2 {
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0;
  display: block;
  transition: all 0.5s ease-in-out;
  right: 50%;
  transform: translateX(-50%);
  transform: translateX(50%);
}
.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out;
}
.lib-two-img-over .img-2 {
  opacity: 1;
  transform-style: inherit;
  transition: all 0.5s ease-in-out;
}
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
/*===============================================
    [SASS DIRECTORY ]
    
    [1] BLOCK HEADER

    
==============================================*/
.common-home .typeheader-28 {
  border: none;
}
.typeheader-28 {
  border-bottom: 1px solid #f0f0f0;
  /*=====SEARCH ======*/
  /*BLOCK CART*/
  /*MENU MEGA*/
  /*-- MEGA MENU VERTICAL --*/
}
.typeheader-28 .top-ads a:hover img {
  opacity: 0.8;
}
.typeheader-28.navbar-compact .header-middle {
  padding: 10px 0;
}
.typeheader-28 ul.top-link {
  list-style: none;
  margin: 0;
  float: left;
}
.typeheader-28 ul.top-link.lang-curr {
  float: right;
}
.typeheader-28 ul.top-link.lang-curr > li {
  margin-right: 0px;
  margin-left: 20px;
}
.typeheader-28 ul.top-link > li {
  float: right;
  position: relative;
  list-style: outside none none;
  padding-right: 0px;
  margin-right: 20px;
  padding-left: 0;
  font-size: 13px;
}
.typeheader-28 ul.top-link > li i {
  padding-left: 5px;
  color: #bcbdc7;
}
.typeheader-28 ul.top-link > li.language {
  min-height: 23px;
}
.typeheader-28 ul.top-link > li .btn-group {
  display: inline;
  line-height: 35px;
  padding: 10px 0;
}
.typeheader-28 ul.top-link > li .btn-group .btn-link {
  padding: 0;
  border: none;
  color: #666;
}
.typeheader-28 ul.top-link > li .fa-caret-down {
  font-size: 12px;
}
.typeheader-28 ul.top-link > li > a {
  font-size: 13px;
  color: #666;
  line-height: 35px;
}
.typeheader-28 ul.top-link > li > a:before {
  padding-left: 3px;
}
.typeheader-28 ul.top-link > li.account {
  line-height: 35px;
}
.typeheader-28 ul.top-link > li.account > a {
  padding: 0;
  margin: 0;
}
.typeheader-28 ul.top-link > li.account .dropdown-menu {
  right: auto;
  left: 0;
}
.typeheader-28 ul.top-link > li.account:hover ul.dropdown-link {
  top: 34px;
  z-index: 9999;
  opacity: 1;
  border-top: 1px solid rgba(200, 199, 199, 0.3);
}
.typeheader-28 .lang-curr {
  float: right;
}
.typeheader-28 .lang-curr .dropdown-menu {
  right: 0;
  left: auto;
}
.typeheader-28 .header-top {
  min-height: 35px;
  background-color: #f0f0f0;
}
.typeheader-28 .header-top .module {
  display: table-cell;
  margin-bottom: 0;
}
.typeheader-28 .header-top .dropdown-menu li {
  line-height: 22px;
}
.typeheader-28 .header-top .header-top-right .inner {
  float: left;
}
.typeheader-28 .header-middle {
  clear: both;
}
.typeheader-28 .lang-curr {
  float: left;
}
.typeheader-28 .welcome-msg {
  font-size: 12px;
  line-height: 44px;
  float: right;
  margin-left: 35px;
}
.typeheader-28 #sosearchpro .search .chosen-container-single {
  padding: 0;
}
.typeheader-28 .chosen-container-single .chosen-single span {
  font-size: 14px;
  color: #999;
}
.typeheader-28 .chosen-container-single .chosen-single div {
  display: none;
}
.typeheader-28 #sosearchpro {
  border: 2px solid #4285f4;
}
.typeheader-28 #sosearchpro .search {
  position: relative;
  margin: 0;
  background-color: #fff;
  border-radius: 0;
  width: 100%;
}
.typeheader-28 #sosearchpro .search .select_category {
  border: none;
  width: 180px;
  background-color: #fff;
  border-left: 1px solid #c6dafc;
}
.typeheader-28 #sosearchpro .search .select_category select {
  height: 38px;
  line-height: 38px;
  color: #999999;
  font-size: 14px;
  padding: 0 15px;
}
.typeheader-28 #sosearchpro .search .select_category select:hover {
  cursor: pointer;
}
.typeheader-28 #sosearchpro .search .select_category.icon-select:after {
  color: #484848;
  font-size: 14px;
  line-height: 38px;
  left: 0;
  right: auto;
  font-family: "FontAwesome";
  content: "";
  position: absolute;
  height: 100%;
  width: 25px;
}
.typeheader-28 #sosearchpro .search button {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  padding: 0 10px;
  font-size: 14px;
  border-radius: 0;
  background-color: #fff;
}
.typeheader-28 #sosearchpro .search button i {
  font-size: 16px;
  color: #4285f4;
}
.typeheader-28 #sosearchpro .search button span {
  display: none;
}
.typeheader-28 #sosearchpro .search input {
  border: none;
  border-radius: 0;
  background-color: #fff;
  z-index: 0;
  height: 38px;
  padding-right: 20px;
  width: 100%;
  background-color: #fff;
  color: #999999;
  font-size: 14px;
}
.typeheader-28 #sosearchpro .search input::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.typeheader-28 #sosearchpro .search input:-ms-input-placeholder {
  color: #999999;
}
.typeheader-28 #sosearchpro .search input::-webkit-input-placeholder {
  color: #999999;
}
.typeheader-28 #sosearchpro .search input:focus {
  z-index: 0;
}
.typeheader-28 .wishlist {
  float: left;
  margin-left: 15px;
  margin-top: 5px;
}
.typeheader-28 .compare, .typeheader-28 .top-link-wishlist {
  width: 34px;
  height: 34px;
  display: block;
  text-align: center;
  line-height: 34px;
  background: url(../../images/icon/icon-id26.png) no-repeat 0 -63px;
}
.typeheader-28 .compare i, .typeheader-28 .top-link-wishlist i {
  display: none;
}
.typeheader-28 .logg {
  float: left;
  margin-left: 15px;
  margin-top: 5px;
  width: 34px;
  height: 34px;
  display: block;
  text-align: center;
  line-height: 34px;
  background: url(../../images/icon/icon-id26.png) no-repeat 0 0;
}
.typeheader-28 .shopping_cart {
  float: left;
  position: relative;
  margin-top: 5px;
}
.typeheader-28 .shopping_cart .btn-shopping-cart .top_cart {
  position: relative;
}
.typeheader-28 .shopping_cart .btn-shopping-cart .top_cart .icon-c {
  width: 36px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: url(../../images/icon/icon-id26.png) no-repeat 0 -133px;
  float: right;
}
.typeheader-28 .shopping_cart .btn-shopping-cart .top_cart .icon-c i {
  display: none;
}
.typeheader-28 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner {
  float: right;
  color: #fff;
  padding-right: 10px;
  position: relative;
}
.typeheader-28 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .text-shopping-cart {
  display: none;
}
.typeheader-28 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart2, .typeheader-28 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_carts {
  display: none;
}
.typeheader-28 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  position: absolute;
  top: -7px;
  right: -14px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border: none;
  background-color: #4285f4;
}
.typeheader-28 .shopping_cart .dropdown-menu {
  top: 100%;
  left: -15px;
  right: auto;
  color: #666;
}
.typeheader-28 .shopping_cart .shoppingcart-box:before {
  right: 50px;
}
.typeheader-28 .megamenu-style-dev .navbar-default {
  background: transparent;
}
.typeheader-28 .container-megamenu.horizontal {
  margin-top: 8px;
}
.typeheader-28 .container-megamenu.horizontal ul.megamenu > li {
  margin-left: 1px;
}
.typeheader-28 .container-megamenu.horizontal ul.megamenu > li.item-special {
  display: block;
  position: relative;
  padding-right: 26px;
}
.typeheader-28 .container-megamenu.horizontal ul.megamenu > li.item-special:before {
  background-image: url(../../images/icon/id28-gift.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 17px;
  height: 19px;
  position: absolute;
  content: "";
  display: block;
  top: 8px;
  right: 0;
}
.typeheader-28 .container-megamenu.horizontal ul.megamenu > li.item-special > a {
  color: #222;
  padding: 0;
}
.typeheader-28 .container-megamenu.horizontal ul.megamenu > li > a {
  line-height: 100%;
  padding: 0 0px 0 30px;
  line-height: 40px;
  margin: 0 !important;
  color: #222;
  font-size: 14px;
  text-transform: capitalize;
}
@media (min-width: 992px) {
  .typeheader-28 .container-megamenu.horizontal ul.megamenu > li > a {
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}
.typeheader-28 .container-megamenu.horizontal ul.megamenu > li > a > strong {
  font-weight: 400;
}
.typeheader-28 .container-megamenu.horizontal ul.megamenu > li:hover > a, .typeheader-28 .container-megamenu.horizontal ul.megamenu > li.active > a, .typeheader-28 .container-megamenu.horizontal ul.megamenu > li.menu_active > a {
  color: #222;
}
.typeheader-28 .header-bottom {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.typeheader-28 .header-bottom .menu-left {
  width: 200px;
  float: right;
}
.typeheader-28 .header-bottom .main-menu-w {
  width: calc(100 - 215px);
}
.typeheader-28 .menu-left {
  width: 110px;
  float: right;
}
.typeheader-28 .header-main {
  float: right;
  width: calc(100% - 110px);
  padding: 22px 60px 0px 0px;
}
.typeheader-28 .container-megamenu.vertical {
  position: relative;
}
.typeheader-28 .container-megamenu.vertical #menuHeading .megamenuToogle-wrapper {
  background-color: transparent;
}
.typeheader-28 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container {
  color: #fff;
  border-radius: 0;
  text-align: center;
  padding: 20px 10px 0 10px !important;
  text-shadow: none;
  line-height: 30px;
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  height: 115px;
}
.typeheader-28 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container > div {
  width: 29px;
  margin: 0 auto;
  padding-top: 16px;
  float: none;
}
.typeheader-28 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container > div span {
  background-color: #fff;
  width: 29px;
  height: 4px;
  margin: 4px 0;
}
.typeheader-28 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container > div span:nth-child(4) {
  display: none;
}
@media (min-width: 992px) {
  .typeheader-28 .container-megamenu.vertical .vertical-wrapper ul.megamenu .loadmore .more-view {
    color: #fff;
    font-size: 13px;
  }
  .typeheader-28 .container-megamenu.vertical .vertical-wrapper ul.megamenu .loadmore .more-view:hover {
    color: #4285f4;
  }
  .typeheader-28 .container-megamenu.vertical .vertical-wrapper ul.megamenu .loadmore i {
    display: none;
  }
  .typeheader-28 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.with-sub-menu > a > b.fa {
    padding-left: 15px;
  }
  .typeheader-28 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a {
    color: #fff;
    font-size: 13px;
  }
  .typeheader-28 .container-megamenu.vertical .vertical-wrapper {
    visibility: hidden;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    position: absolute;
    width: 100%;
    top: 130px;
  }
  .typeheader-28 .container-megamenu.vertical:hover .vertical-wrapper {
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    top: 115px;
  }
  .typeheader-28 .container-megamenu.vertical .vertical-wrapper ul.megamenu {
    background-color: #2a2d32;
    padding: 0;
    width: 210px;
  }
  .typeheader-28 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li {
    padding-right: 15px;
  }
  .typeheader-28 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.loadmore {
    padding: sie-values(14px 0 14px 15px);
  }
  .typeheader-28 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.hidden-index26 {
    display: none;
  }
  .typeheader-28 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li:hover > a, .typeheader-28 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.active > a {
    color: #4285f4;
  }
  .typeheader-28 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a {
    line-height: 23px;
  }
  .typeheader-28 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a i.fa {
    display: none;
  }
}
/*====================update opencart4===================*/
.typeheader-28 #sosearchpro .search {
  flex-wrap: nowrap;
}
.typeheader-28 #sosearchpro .search input {
  margin: 0;
}
.typeheader-28 #sosearchpro .search .input-group-btn {
  margin: 0;
}
.typeheader-28 ul.top-link > li .btn-group .fa-caret-down:before {
  content: "";
}
.typeheader-28 .top-link-wishlist > a {
  width: 34px;
  height: 34px;
  display: block;
}
.typeheader-28 .logg a.link-lg {
  width: 34px;
  height: 34px;
  display: block;
}
.typeheader-28 .container-megamenu.horizontal ul.megamenu > li.item-special {
  float: left;
}
@media (min-width: 992px) {
  .typeheader-28 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.active, .typeheader-28 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li:hover {
    box-shadow: none;
  }
}
