@charset "UTF-8";
/*===============================================
	[SASS DIRECTORY ]
	
    [1] Minxin Link
    [2] Minxin Button
    [3] Minxin Triangle
    [4] Minxin LABEL PRODUCT
    [5] Minxin Scrollbars
    [6] Minxin Dev Custom
  
==============================================*/
.no-margin {
  margin: 0 !important;
}
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none;
}
.lib-list-item-product2 .image-dev .list-button-dev {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
}
.lib-list-item-product2 .image-dev .list-button-dev li {
  display: inline-block;
  float: left;
  height: 40px;
  width: 40px;
  background: #fff;
  position: relative;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #ddd;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(40px);
  -moz-transform: translateX(40px);
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -webkit-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:first-child {
  border-left: 1px solid #ddd;
}
.lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 40px;
  text-align: center;
  box-shadow: none;
  border: none;
  color: #555;
  width: 40px;
  padding: 0;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover {
  background: #c8003e;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
  color: #fff;
}
.lib-list-item-product2 .caption-dev {
  text-align: center;
  padding: 0 15px;
}
.lib-list-item-product2 .caption-dev .rating-dev {
  margin: 5px 0;
}
.lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
  font-size: 11px;
}
.lib-list-item-product2 .caption-dev .title-dev {
  color: #444;
  font-size: 13px;
}
.lib-list-item-product2 .caption-dev .price-dev .price.product-price {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-new {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-old {
  font-size: 12px;
}
.lib-list-item-product2 .caption-dev .add-cart-dev {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0;
  padding: 6px 20px;
  margin: 0 0 30px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block;
}
.lib-two-img .img-1 {
  opacity: 1;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.lib-two-img .img-2 {
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0;
  display: block;
  transition: all 0.5s ease-in-out;
  right: 50%;
  transform: translateX(-50%);
  transform: translateX(50%);
}
.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out;
}
.lib-two-img-over .img-2 {
  opacity: 1;
  transform-style: inherit;
  transition: all 0.5s ease-in-out;
}
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
/*===============================================
    [SASS DIRECTORY ]
    
    [1] BLOCK HEADER
==============================================*/
.typeheader-21 {
  /*=====SEARCH ======*/
  /*BLOCK CART*/
  /*MENU MEGA*/
  /*-- MEGA MENU VERTICAL --*/
}
.typeheader-21.navbar-compact .header-middle {
  padding: 10px 0;
  margin: 0;
}
.typeheader-21.navbar-compact .header-bottom {
  padding: 10px 0;
}
.typeheader-21.navbar-compact #cart {
  margin-top: 3px;
}
.typeheader-21 .header-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 13px;
  min-height: 40px;
}
.typeheader-21 .header-top .module {
  display: table-cell;
  margin-bottom: 0;
}
.typeheader-21 .header-top .header-top-right {
  text-align: left;
}
.typeheader-21 .header-top .dropdown-menu li {
  line-height: 22px;
}
.typeheader-21 .header-top .header-top-right {
  display: inline-block;
}
.typeheader-21 .header-middle {
  clear: both;
  margin: 29px 0 22px 0;
}
.typeheader-21 .header-middle .middle-right {
  padding-top: 9px;
}
.typeheader-21 .header-bottom {
  clear: both;
  padding: 20px 0;
}
.typeheader-21 .telephone {
  float: left;
}
.typeheader-21 .telephone ul li {
  display: inline-block;
  position: relative;
  list-style: outside none none;
  padding-right: 18px;
  margin-right: 18px;
  padding-left: 0;
}
.typeheader-21 .telephone ul li:after {
  background-color: rgba(255, 255, 255, 0.4);
  content: "";
  height: 11px;
  position: absolute;
  right: 0;
  top: 9px;
  width: 1px;
}
.typeheader-21 .telephone ul li a {
  color: #fff;
  text-transform: capitalize;
}
.typeheader-21 .telephone ul li a i {
  margin-left: 5px;
}
.typeheader-21 .lang-curr {
  float: left;
}
.typeheader-21 .signin-w {
  padding-right: 30px;
  float: left;
  color: #fff;
}
.typeheader-21 .signin-w ul li {
  float: right;
}
.typeheader-21 .signin-w ul li a {
  color: #fff;
}
.typeheader-21 .welcome-msg {
  color: #fff;
  font-size: 13px;
  line-height: 40px;
  clear: both;
}
.typeheader-21 .wishlist-comp {
  float: left;
  margin-left: 20px;
}
.typeheader-21 .wishlist-comp li {
  width: 40px;
  height: 40px;
  list-style: none;
  float: right;
  padding-top: 8px;
  margin-right: 15px;
}
.typeheader-21 .wishlist-comp li a i {
  font-size: 26px;
  color: #fff;
}
.typeheader-21 .wishlist-comp li a span {
  display: none;
}
.typeheader-21 .wishlist-comp li a.top-link-wishlist {
  width: 36px;
  text-align: center;
  height: 32px;
  display: block;
  overflow: hidden;
  text-indent: -999em;
}
.typeheader-21 .wishlist-comp li a.top-link-wishlist:before {
  font-family: "FontAwesome";
  content: "";
  font-size: 26px;
  color: #fff;
  display: block;
  text-indent: 0;
}
.typeheader-21 ul.top-link {
  list-style: none;
  margin: 0;
  vertical-align: top;
  display: inline-flex;
}
.typeheader-21 ul.top-link > li.language .dropdown-menu img {
  margin-top: -3px;
}
.typeheader-21 ul.top-link > li {
  display: inline-block;
  position: relative;
  list-style: outside none none;
  padding-right: 20px;
  margin-right: 20px;
  padding-left: 0;
  font-size: 13px;
}
.typeheader-21 ul.top-link > li.language {
  min-height: 23px;
}
.typeheader-21 ul.top-link > li.language:after {
  background-color: rgba(255, 255, 255, 0.4);
  content: "";
  height: 11px;
  position: absolute;
  right: 0;
  top: 16px;
  width: 1px;
}
.typeheader-21 ul.top-link > li .btn-group {
  display: inline;
  line-height: 40px;
  padding: 12px 0;
}
.typeheader-21 ul.top-link > li .btn-group .btn-link {
  padding: 0;
  border: none;
  color: #fff;
}
.typeheader-21 ul.top-link > li .btn-group .btn-link:hover {
  color: #fff !important;
}
.typeheader-21 ul.top-link > li .fa-angle-down {
  font-size: 13px;
  padding: 0;
  float: none;
}
.typeheader-21 ul.top-link > li > a {
  font-size: 12px;
  color: #fff;
  padding-right: 3px;
}
.typeheader-21 .account {
  width: 42px;
  height: 42px;
  background-color: #fff;
  border-radius: 100%;
  text-align: center;
  line-height: 42px;
  float: left;
  margin-left: 15px;
  position: relative;
}
.typeheader-21 .account span {
  font-size: 18px;
}
.typeheader-21 #sosearchpro .chosen-container-single .chosen-single {
  height: 45px;
  line-height: 45px;
}
.typeheader-21 #sosearchpro .chosen-container-single .chosen-single div {
  width: 20px;
}
.typeheader-21 #sosearchpro .chosen-container-single .chosen-single div b {
  background-position-y: 12px;
}
.typeheader-21 #sosearchpro .search {
  position: relative;
  margin: 0;
  width: 100%;
  border-radius: 3px;
}
.typeheader-21 #sosearchpro .search .select_category {
  border: none;
  border-left: 1px solid #d7d7d7;
  background-color: #f5f5f5;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  width: 22%;
}
.typeheader-21 #sosearchpro .search .select_category select {
  height: 45px;
  line-height: 45px;
  color: #666666;
  font-size: 13px;
  padding: 0 15px;
}
.typeheader-21 #sosearchpro .search .select_category select:hover {
  cursor: pointer;
}
.typeheader-21 #sosearchpro .search .select_category.icon-select:after {
  color: #999;
  background-color: #f5f5f5;
  font-size: 16px;
  line-height: 47px;
  left: 0;
  right: auto;
}
.typeheader-21 #sosearchpro .search button {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  padding: 0 30px;
  font-size: 14px;
  color: #fff;
  background-color: #252525;
  border-radius: 0;
  text-transform: upper-case;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.typeheader-21 #sosearchpro .search button i {
  font-size: 13px;
  color: #fff;
}
.typeheader-21 #sosearchpro .search input.autosearch-input {
  border: none;
  border-radius: 0px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #fff;
  z-index: 0;
  height: 45px;
  padding-right: 20px;
  font-size: 13px;
  width: 100%;
  background-color: #fff;
  color: #999;
}
.typeheader-21 #sosearchpro .search input.autosearch-input::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.typeheader-21 #sosearchpro .search input.autosearch-input:-ms-input-placeholder {
  color: #999;
}
.typeheader-21 #sosearchpro .search input.autosearch-input::-webkit-input-placeholder {
  color: #999;
}
.typeheader-21 #sosearchpro .search input.autosearch-input:focus {
  z-index: 0;
}
.typeheader-21 .shopping_cart {
  float: left;
  position: relative;
}
.typeheader-21 .shopping_cart .btn-shopping-cart .top_cart {
  position: relative;
}
.typeheader-21 .shopping_cart .btn-shopping-cart .top_cart .icon-c {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  float: right;
  text-align: center;
  line-height: 45px;
  background-color: #fff;
}
.typeheader-21 .shopping_cart .btn-shopping-cart .top_cart .icon-c i {
  font-size: 18px;
}
.typeheader-21 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner {
  float: right;
  color: #fff;
  margin-right: 10px;
  margin-top: 9px;
}
.typeheader-21 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .text-shopping-cart {
  font-size: 12px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 3px;
  line-height: 100%;
  text-transform: uppercase;
  padding-left: 5px;
}
.typeheader-21 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart {
  font-size: 12px;
  float: right;
  line-height: 100%;
  font-weight: 700;
}
.typeheader-21 .shopping_cart .dropdown-menu {
  top: 100%;
  left: -15px;
  right: auto;
  color: #666;
}
.typeheader-21 .shopping_cart .shoppingcart-box:before {
  right: 50px;
}
.typeheader-21 .megamenu-style-dev .navbar-default {
  background: transparent;
}
.typeheader-21 .container-megamenu.horizontal ul.megamenu > li > a {
  line-height: 100%;
  color: #fff;
}
.typeheader-21 .container-megamenu.vertical {
  position: relative;
}
.typeheader-21 .container-megamenu.vertical .vertical-wrapper ul.megamenu .loadmore {
  display: none;
}
.typeheader-21 .container-megamenu.vertical ul.megamenu > li .close-menu {
  display: none;
}
.typeheader-21 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container:after {
  font-family: "FontAwesome";
  content: "";
  font-size: 16px;
  color: #fff;
  position: absolute;
  left: 20px;
  top: 0;
  font-weight: 400;
}
@media (min-width: 992px) {
  .typeheader-21 .container-megamenu.vertical .vertical-wrapper {
    visibility: hidden;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    position: absolute;
    width: 100%;
    top: 60px;
  }
  .typeheader-21 .container-megamenu.vertical:hover .vertical-wrapper {
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    top: 40px;
  }
}
/*====================update opencart4===================*/
.typeheader-21 .account .dropdown-menu li {
  line-height: 30px;
}
.typeheader-21 #sosearchpro .search {
  flex-wrap: nowrap;
}
.typeheader-21 #sosearchpro .search .input-group-btn {
  margin: 0;
}
.typeheader-21 ul.top-link > li .btn-group .fa-caret-down:before {
  content: "";
}
