@charset "UTF-8";
/*===============================================
	[SASS DIRECTORY ]
	
    [1] Minxin Link
    [2] Minxin Button
    [3] Minxin Triangle
    [4] Minxin LABEL PRODUCT
    [5] Minxin Scrollbars
    [6] Minxin Dev Custom
  
==============================================*/
.no-margin {
  margin: 0 !important;
}
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none;
}
.lib-list-item-product2 .image-dev .list-button-dev {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
}
.lib-list-item-product2 .image-dev .list-button-dev li {
  display: inline-block;
  float: left;
  height: 40px;
  width: 40px;
  background: #fff;
  position: relative;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #ddd;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(40px);
  -moz-transform: translateX(40px);
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -webkit-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:first-child {
  border-left: 1px solid #ddd;
}
.lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 40px;
  text-align: center;
  box-shadow: none;
  border: none;
  color: #555;
  width: 40px;
  padding: 0;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover {
  background: #ff438b;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
  color: #fff;
}
.lib-list-item-product2 .caption-dev {
  text-align: center;
  padding: 0 15px;
}
.lib-list-item-product2 .caption-dev .rating-dev {
  margin: 5px 0;
}
.lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
  font-size: 11px;
}
.lib-list-item-product2 .caption-dev .title-dev {
  color: #444;
  font-size: 13px;
}
.lib-list-item-product2 .caption-dev .price-dev .price.product-price {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-new {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-old {
  font-size: 12px;
}
.lib-list-item-product2 .caption-dev .add-cart-dev {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0;
  padding: 6px 20px;
  margin: 0 0 30px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block;
}
.lib-two-img .img-1 {
  opacity: 1;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.lib-two-img .img-2 {
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0;
  display: block;
  transition: all 0.5s ease-in-out;
  right: 50%;
  transform: translateX(-50%);
  transform: translateX(50%);
}
.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out;
}
.lib-two-img-over .img-2 {
  opacity: 1;
  transform-style: inherit;
  transition: all 0.5s ease-in-out;
}
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
/*===============================================
    [SASS DIRECTORY ]
    
    [1] BLOCK HEADER

    
==============================================*/
@media (min-width: 1200px) {
  .wrapper-full .typeheader-30 .container {
    max-width: 1710px;
    padding: 0 15px;
    width: 100%;
  }
}
.common-home .typeheader-30 {
  border-bottom: none;
}
.typeheader-30 {
  border-bottom: 1px solid #ddd;
  /*=====SEARCH ======*/
  /*BLOCK CART*/
  /*MENU MEGA*/
  /*-- MEGA MENU VERTICAL --*/
}
.typeheader-30.navbar-compact .header-middle {
  padding: 10px 0;
}
.typeheader-30 .account {
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 20px;
}
.typeheader-30 .account i {
  font-size: 26px;
  color: #666666;
}
.typeheader-30 .account .dropdown-menu {
  width: 150px;
}
.typeheader-30 .account .dropdown-menu li a {
  font-size: 14px;
}
.typeheader-30 .wishlist {
  display: inline-block;
  float: right;
  margin-right: 20px;
}
.typeheader-30 .wishlist i {
  font-size: 26px;
  color: #666666;
}
.typeheader-30 .midde-right {
  float: left;
  margin-top: 5px;
}
.typeheader-30 .telephone {
  background-color: #ffecf3;
  padding: 0 20px;
  line-height: 35px;
  font-size: 16px;
  float: right;
  margin-left: 40px;
  margin-top: -3px;
}
.typeheader-30 .search-header {
  position: relative;
  float: right;
}
.typeheader-30 .search-header .icon-search {
  padding: 0 5px;
}
.typeheader-30 .search-header .icon-search i {
  font-size: 24px;
  color: #666;
}
.typeheader-30 .search-header .icon-search:hover {
  cursor: pointer;
}
.typeheader-30 .search-header #sosearchpro .search {
  visibility: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: -1px;
  right: auto;
  margin-left: 0;
  padding: 0;
  width: 270px;
}
.typeheader-30 .search-header #sosearchpro .search button {
  padding: 0 15px;
}
.typeheader-30 #sosearchpro .text-keyword {
  padding-right: 20px;
  margin-top: 5px;
}
.typeheader-30 #sosearchpro .text-keyword .title-key b {
  font-weight: 400;
  color: #545454;
}
.typeheader-30 #sosearchpro .text-keyword .item-key a {
  color: #898989;
  text-decoration: underline;
}
.typeheader-30 #sosearchpro .search {
  position: relative;
  margin: 0;
  border: 1px solid #ddd;
  height: 40px;
}
.typeheader-30 #sosearchpro .search .select_category {
  display: none;
}
.typeheader-30 #sosearchpro .search button {
  position: absolute;
  top: 1px;
  left: 1px;
  height: 36px;
  text-align: center;
  line-height: 40px;
  padding: 0 8px;
  font-size: 14px;
  color: #ddd;
  border-radius: 0;
  background-color: #fff;
}
.typeheader-30 #sosearchpro .search button i {
  font-size: 16px;
  color: #444;
}
.typeheader-30 #sosearchpro .search button span {
  display: none;
}
.typeheader-30 #sosearchpro .search input {
  border: none;
  border-radius: 0px;
  z-index: 0;
  height: 38px;
  padding-right: 20px;
  font-size: 12px;
  width: 100%;
  background-color: #fff;
  color: #999;
}
.typeheader-30 #sosearchpro .search input::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.typeheader-30 #sosearchpro .search input:-ms-input-placeholder {
  color: #999;
}
.typeheader-30 #sosearchpro .search input::-webkit-input-placeholder {
  color: #999;
}
.typeheader-30 #sosearchpro .search input:focus {
  z-index: 0;
}
.typeheader-30 .search-header #sosearchpro .search.nav-open {
  visibility: visible;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
}
.typeheader-30 .search-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.typeheader-30 .search-screen.nav-open {
  opacity: 1;
  visibility: visible;
  z-index: 90;
}
.typeheader-30 .shopping_cart {
  float: right;
  margin-right: 20px;
  position: relative;
}
.typeheader-30 .shopping_cart .btn-shopping-cart .top_cart {
  position: relative;
}
.typeheader-30 .shopping_cart .btn-shopping-cart .top_cart .icon-c {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: url(../../images/icon/id29-cart.png) no-repeat;
  float: right;
}
.typeheader-30 .shopping_cart .btn-shopping-cart .top_cart .icon-c i {
  display: none;
}
.typeheader-30 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner {
  float: right;
  color: #fff;
  padding-right: 10px;
  position: relative;
}
.typeheader-30 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .text-shopping-cart {
  display: none;
}
.typeheader-30 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart2, .typeheader-30 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_carts {
  display: none;
}
.typeheader-30 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart {
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  position: absolute;
  top: 0px;
  right: -13px;
  font-size: 10px;
  color: #fff;
  border: none;
}
.typeheader-30 .shopping_cart .dropdown-menu {
  top: 100%;
  left: -13px;
  right: auto;
  color: #666;
}
.typeheader-30 .shopping_cart .shoppingcart-box:before {
  right: 50px;
}
.typeheader-30 .megamenu-style-dev .navbar-default {
  background: transparent;
}
.typeheader-30 .container-megamenu.horizontal {
  margin-top: 5px;
}
.typeheader-30 .container-megamenu.horizontal ul.megamenu > li {
  margin-left: 1px;
}
.typeheader-30 .container-megamenu.horizontal ul.megamenu > li.item-special {
  display: none;
}
.typeheader-30 .container-megamenu.horizontal ul.megamenu > li > a {
  line-height: 100%;
  padding: 0 0px 0 30px;
  line-height: 40px;
  margin: 0 !important;
  color: #222;
  font-size: 14px;
  text-transform: uppercase;
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .typeheader-30 .container-megamenu.horizontal ul.megamenu > li > a {
    padding-left: 13px;
  }
}
.typeheader-30 .container-megamenu.horizontal ul.megamenu > li > a > strong {
  font-weight: 400;
}
.typeheader-30 .container-megamenu.horizontal ul.megamenu > li:hover > a, .typeheader-30 .container-megamenu.horizontal ul.megamenu > li.active > a, .typeheader-30 .container-megamenu.horizontal ul.megamenu > li.menu_active > a {
  color: #222;
}
.typeheader-30 .header-middle {
  padding: 30px 0;
}
.typeheader-30 .header-middle .menu-left {
  width: 60px;
  float: right;
}
.typeheader-30 .header-middle .middle1 .logo {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
}
.typeheader-30 .container-megamenu.vertical {
  position: relative;
}
.typeheader-30 .container-megamenu.vertical #menuHeading .megamenuToogle-wrapper {
  background-color: transparent;
}
.typeheader-30 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container {
  color: #222;
  background-color: #fff;
  overflow: hidden;
  border-radius: 0;
  text-align: center;
  padding: 0 !important;
  text-shadow: none;
  line-height: 30px;
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  height: 40px;
  text-indent: -999em;
}
.typeheader-30 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container > div {
  width: 20px;
  margin: 0 auto;
  padding-top: 13px;
  float: none;
}
.typeheader-30 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container > div span {
  background-color: #222;
  width: 20px;
  height: 2px;
  margin: 4px 0;
}
.typeheader-30 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container > div span:nth-child(4) {
  display: none;
}
@media (min-width: 992px) {
  .typeheader-30 .container-megamenu.vertical .vertical-wrapper ul.megamenu .loadmore i {
    display: none;
  }
  .typeheader-30 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.with-sub-menu > a > b.fa {
    padding-left: 15px;
  }
  .typeheader-30 .container-megamenu.vertical .vertical-wrapper {
    visibility: hidden;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    position: absolute;
    width: 100%;
    top: 70px;
  }
  .typeheader-30 .container-megamenu.vertical:hover #menuHeading .megamenuToogle-pattern .container > div span {
    background-color: #ff438b;
  }
  .typeheader-30 .container-megamenu.vertical:hover .vertical-wrapper {
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    top: 49px;
  }
  .typeheader-30 .container-megamenu.vertical .vertical-wrapper ul.megamenu {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    width: 210px;
  }
  .typeheader-30 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li {
    padding-right: 15px;
  }
  .typeheader-30 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.loadmore {
    padding: sie-values(14px 0 14px 15px);
  }
  .typeheader-30 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.hidden-index26 {
    display: none;
  }
  .typeheader-30 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li:hover > a, .typeheader-30 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.active > a {
    color: #ff438b;
  }
  .typeheader-30 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a {
    line-height: 23px;
  }
  .typeheader-30 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a i.fa {
    display: none;
  }
}
/*====================update opencart4===================*/
.typeheader-30 .dropdown-menu {
  top: 100%;
}
.typeheader-30 #sosearchpro .search input {
  margin: 0;
}
.typeheader-30 #sosearchpro .search .input-group-btn {
  margin: 0;
}
.typeheader-30 ul.top-link > li .btn-group .fa-caret-down:before {
  content: "ï„‡";
}
@media (min-width: 992px) {
  .typeheader-30 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.active, .typeheader-30 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li:hover {
    box-shadow: none;
  }
}
