@charset "UTF-8";
/*===============================================
	[SASS DIRECTORY ]
	
    [1] Minxin Link
    [2] Minxin Button
    [3] Minxin Triangle
    [4] Minxin LABEL PRODUCT
    [5] Minxin Scrollbars
    [6] Minxin Dev Custom
  
==============================================*/
.no-margin {
  margin: 0 !important;
}
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none;
}
.lib-list-item-product2 .image-dev .list-button-dev {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
}
.lib-list-item-product2 .image-dev .list-button-dev li {
  display: inline-block;
  float: left;
  height: 40px;
  width: 40px;
  background: #fff;
  position: relative;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #ddd;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(40px);
  -moz-transform: translateX(40px);
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -webkit-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:first-child {
  border-left: 1px solid #ddd;
}
.lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 40px;
  text-align: center;
  box-shadow: none;
  border: none;
  color: #555;
  width: 40px;
  padding: 0;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover {
  background: #2bb9a8;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
  color: #fff;
}
.lib-list-item-product2 .caption-dev {
  text-align: center;
  padding: 0 15px;
}
.lib-list-item-product2 .caption-dev .rating-dev {
  margin: 5px 0;
}
.lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
  font-size: 11px;
}
.lib-list-item-product2 .caption-dev .title-dev {
  color: #444;
  font-size: 13px;
}
.lib-list-item-product2 .caption-dev .price-dev .price.product-price {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-new {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-old {
  font-size: 12px;
}
.lib-list-item-product2 .caption-dev .add-cart-dev {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0;
  padding: 6px 20px;
  margin: 0 0 30px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block;
}
.lib-two-img .img-1 {
  opacity: 1;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.lib-two-img .img-2 {
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0;
  display: block;
  transition: all 0.5s ease-in-out;
  right: 50%;
  transform: translateX(-50%);
  transform: translateX(50%);
}
.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out;
}
.lib-two-img-over .img-2 {
  opacity: 1;
  transform-style: inherit;
  transition: all 0.5s ease-in-out;
}
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
/* ================================================================================ */
/*.footer-container{
  margin-top: 40px;
}*/
@media (min-width: 1200px) {
  .common-home .wrapper-full .typefooter-34 .container {
    width: 100%;
    padding: 0 60px;
  }
  .common-home .typefooter-34 {
    width: 84%;
    border-right: 1px solid #ddd;
    margin-right: 16%;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) and (max-width: 1650px) {
  .common-home .wrapper-full .typefooter-34 .container {
    padding: 0 30px;
  }
}
.typefooter-34 {
  background-color: #222;
  clear: both;
  background: url("../../images/id34-bg-footer.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  /* GENERAL */
  /* FOOTER BOTTOM */
}
.typefooter-34 .module .modtitle {
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 30px;
  margin: 0 0 20px;
}
.typefooter-34 .box-footer {
  margin-top: 3px;
}
.typefooter-34 .box-footer ul.menu li a {
  border: 0 none;
  font-size: 16px;
  padding: 0;
  font-weight: 400;
  line-height: 35px;
  position: relative;
  padding-right: 15px;
  display: inline-block;
  color: #ddd;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  position: relative;
}
.typefooter-34 .box-footer ul.menu li a:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 100%;
  top: 17px;
  right: 0;
  background-color: #ddd;
}
.typefooter-34 .box-footer ul.menu li a:hover {
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
}
.typefooter-34 .footer-top {
  padding-top: 70px;
  padding-bottom: 50px;
}
.typefooter-34 .box-contact .modcontent {
  padding-bottom: 25px;
}
.typefooter-34 .footer-middle {
  padding: 60px 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.typefooter-34 .footer-middle .fmiddle {
  float: none;
  margin: 0 auto;
}
.typefooter-34 .newsletter-footer21 .newsletter {
  background-color: transparent !important;
}
.typefooter-34 .newsletter-footer21 .newsletter .title-block {
  float: right;
  width: 40%;
}
.typefooter-34 .newsletter-footer21 .newsletter .title-block .page-heading {
  color: #fff;
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 0px;
  line-height: 46px;
}
.typefooter-34 .newsletter-footer21 .newsletter .title-block .promotext {
  display: none;
}
.typefooter-34 .newsletter-footer21 .newsletter .block_content {
  float: right;
}
.typefooter-34 .newsletter-footer21 .newsletter .block_content form.signup {
  display: block;
  margin: 0;
}
.typefooter-34 .newsletter-footer21 .newsletter .block_content form.signup .form-group {
  position: relative;
  background-color: transparent;
  border-radius: 23px;
}
.typefooter-34 .newsletter-footer21 .newsletter .block_content form.signup .form-group .input-box {
  background-color: transparent;
}
.typefooter-34 .newsletter-footer21 .newsletter .block_content form.signup .form-group #txtemail {
  height: 46px;
  line-height: 46px;
  width: 100%;
  box-shadow: none;
  padding: 0 15px 0 0;
  border: none;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 23px;
}
.typefooter-34 .newsletter-footer21 .newsletter .block_content form.signup .form-group #txtemail::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.typefooter-34 .newsletter-footer21 .newsletter .block_content form.signup .form-group #txtemail:-ms-input-placeholder {
  color: #999;
}
.typefooter-34 .newsletter-footer21 .newsletter .block_content form.signup .form-group #txtemail::-webkit-input-placeholder {
  color: #999;
}
.typefooter-34 .newsletter-footer21 .newsletter .block_content form.signup .form-group #txtemail:focus {
  z-index: 0;
}
.typefooter-34 .newsletter-footer21 .newsletter .block_content form.signup .subcribe {
  position: absolute;
  top: 0;
  left: 0;
}
.typefooter-34 .newsletter-footer21 .newsletter .block_content form.signup .subcribe button {
  border: 0 none;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  height: 44px;
  line-height: 44px;
  padding: 0 30px;
  border-radius: 23px;
  position: relative;
  overflow: hidden;
  text-indent: -9999em;
  background-color: transparent;
}
.typefooter-34 .newsletter-footer21 .newsletter .block_content form.signup .subcribe button:before {
  color: #fff;
  font-weight: 400;
  font-family: "FontAwesome";
  content: "ï‡˜";
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  text-indent: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
}
.typefooter-34 .footer-info ul li {
  font-size: 16px;
  color: #ddd;
  display: block;
  padding: 10px 0 15px;
}
.typefooter-34 .footer-info ul li i {
  margin-left: 8px;
  display: inline-block;
}
.typefooter-34 .footer-info ul li:last-child span {
  font-size: 22px;
  font-weight: 700;
}
.typefooter-34 .socials {
  float: left;
}
.typefooter-34 .socials ul li {
  float: right;
  margin-right: 10px;
}
.typefooter-34 .socials ul li a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  color: #888;
  line-height: 46px;
  text-align: center;
  font-size: 16px;
  display: block;
}
.typefooter-34 .socials ul li a:hover {
  color: #fff;
}
.typefooter-34 .so-instagram-gallery {
  margin-top: 30px;
}
.typefooter-34 .so-instagram-gallery .instagram-items-inner .instagram-item {
  float: right;
  margin-bottom: 10px;
  padding: 0 10px 0 0;
  position: relative;
  width: 33.33%;
}
.typefooter-34 .so-instagram-gallery .instagram-items-inner .instagram-item .img_users a {
  border: none;
}
.typefooter-34 .so-instagram-gallery .instagram-items-inner .instagram-item .img_users a:hover img {
  opacity: 0.8;
}
.typefooter-34 .footer-bottom {
  padding: 20px 0;
}
.typefooter-34 .footer-bottom .copyright {
  line-height: 35px;
  color: #eee;
}
.typefooter-34 .footer-bottom .payment-w {
  text-align: left;
}
